article, section, aside, hgroup, nav, header, footer, figure, figcaption
{
display: block;
}

body {
font-family: Arial, Helvetica, sans-serif;
background-color: #DFDBBB;
width:100%;
display:-webkit-box;
display:-moz-box;
display:-o-box;
display:box;
-webkit-box-pack:center;
-moz-box-pack:center;
-o-box-pack:center;
box-pack:center;
}

#wrapper {
max-width: 1200px;
min-width: 500px;
background-color: #DFDBBB;
margin:20px auto;
display:-webkit-box;
-webkit-box-orient:vertical;
-moz-box-orient:vertical;
-o-box-orient:vertical;
box-orient:vertical;
}

#bigwrap {
-webkit-box-orient:horizontal;
display:-webkit-box;
display:-moz-box;
display:-o-box;
display:box;
margin-left:20px;
}

/*--------------------------------------------------
				      COLUMNS
---------------------------------------------------*/
.one, .one-half, .two-third, .one-third, .one-fourth { float:left; position:relative; margin-right:4%; }
.one { width: 100%; margin-right: 0; }
.one-half {	width: 48%; }
.two-third { width: 65.33%; }
.one-third  { width: 30.66%; 	text-align:justify;}
.one-fourth { width: 22%; }

header {
height: 160px;
margin-bottom:20px;
}

#logo {
margin:10px auto;
}

nav {
margin:20px auto;
width:100%;
}

/* Navigation code from Listamatic
http://css.maxdesign.com.au/listamatic/horizontal03.htm
*/

nav ul {
padding-left: auto;
margin-left: auto;
color: #FFF;
float: right;

}

nav ul li {
display: inline; }

nav ul li a {
font-size: 1em;
padding: 10px 16px;
color: #444;
text-decoration: none;
float: right;

}

nav ul li a:hover {
background-color: #444;
color: #999;
}

.highlight a{
font-weight: 900;
color: #444;
}

#title {
padding-left: 40px;
padding-right: 40px;
padding-top: 0px;
padding-bottom: 20px;
text-align: center;
vertical-align:middle;
}

#title h1{
font-size: 50px;
padding-top: 25px;
}

#content {
min-width:250px;
padding-bottom: 20px;
text-align: justify;
}

#content h1{
font-size: 24px;
}

#content h2 {
font-size: 20px;
font-weight: 200;
}

#content p{
font-size: 16px;
line-height:16px;
}

section {
}

article {
}

#rightcol {
padding-left: 100px;
padding-bottom: 20px;
-webkit-box-flex: 1; 
}

#rightcol h2 {
font-size: 18px;
padding-top: 25px;
font-weight: 400;
}

#rightcol h3 {
font-size: 16px;
padding-top: 25px;
font-weight: 200;
}

#rightcol p {
font-size: 12px;
}

#leftcol {
margin-left: 20%;
padding-bottom: 20px;
}

#leftcol h1{
font-size: 24px;
padding-top: 25px;
}

#leftcol h2 {
font-size: 20px;
padding-top: 25px;
font-weight: 400;
}

#leftcol h3 {
font-size: 16px;
padding-top: 25px;
font-weight: 200;
}

#leftcol p {
font-size: 14px;
}

.portfolio_col {
	font-size:1.3em; 
	font-weight:200; 
	-webkit-box-flex:0.5;
}

footer {
clear:both;
height: 50px;
margin-top: 100px;
}

footer p {
font-size: 11px;
color:#333;
padding-left: 20px;
}

footer a {
color:#333;
text-decoration:none;
}

/*portfolio gallery*/
    .gallery{
      list-style: none;
      margin: 10px auto; padding:0;
      width: 100%; /* (200+10+4)x3 */
	  height:600px;
      font-size: 16px; /* fix inline-block spacing */
    }
   .gallery ul{
	  text-align:center;   
	  display:table-cell;   
	  vertical-align:middle;
	  margin: 10px auto;
    }
    .gallery li{
        display: inline-block;
        *display: inline;
        zoom: 1;
        width: 200px; height: 150px;
        margin: 20px;
        border: 5px solid #fff;
        -moz-box-shadow: 0 2px 2px rgba(0,0,0,.1);
        -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.1);
        -o-box-shadow: 0 2px 2px rgba(0,0,0,.1);
		box-shadow: 0 2px 2px rgba(0,0,0,.1);
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;        
    }

    /*li:not(:hover){  
		zoom:1.1;     
        -webkit-filter: blur(2px) grayscale(0);
        -moz-filter: blur(2px) grayscale(0);
        -o-filter: blur(2px) grayscale(0);
        -ms-filter: blur(2px) grayscale(0);
        filter: blur(2px) grayscale(0);
        opacity: 0.7;      
    }*/
	li:hover {       
		zoom:1.1; 
    }
	.portfolio_text{
		display: inline;
		margin:auto;
	}
/*end portfolio gallery*/

/*pic select window*/
#bd{
	-webkit-box-flex:1;
	margin: 10px auto;
} 
/* module: sliders */ 
#sliders{ 
border-radius: 5px; 
box-shadow: 1px 1px 4px #666; 
padding: 1%; 
background: #DFDBBB; 
} 
#overflow{ 
width: 100%; 
overflow: hidden; 
} 
#sliders .inner{ 
width: 500%; 
/*transiton: all 1s linear; 
-webkit-transition: all 1s linear; */
transiton: 0.3s ease-out; 
-webkit-transition: 0.3s ease-in-out; 
} 
#sliders article{ 
float: left; 
width: 20%; 
} 
#sliders article .info{ 
position: absolute; 
opacity: 0; 
padding: 30px; 
color: #666; 
font-family: Arial; 
transition: opacity 0.1s ease-out; 
-webkit-transform: translateZ(0); 
-webkit-transition: opacity 0.1s ease-out; 
} 
#sliders article .info h1{ 
font-size: 22px; 
font-weight: bold; 
margin: 0 0 5px; 
} 
#sliders article .info a{ 
color: #666; 
text-decoration: none; 
} 
/* module: controls */ 
#controls{ 
height: 50px; 
width: 100%; 
margin-top: -25%; 
} 
#controls label{ 
display: none; 
width: 50px; 
height: 50px; 
opacity: 0.3; 
cursor: pointer; 
} 
#controls label:hover{ 
opacity: 1; 
} 
/* module: active */ 
#active{ 
width: 100%; 
margin-top: 23%; 
text-align: center; 
} 
#active label{ 
display: inline-block; 
width: 10px; 
height: 10px; 
border-radius: 5px; 
background: #bbb; 
border-color: #777; 
} 
#active label:hover{ 
background: #ccc; 
} 
/* input checked change style */ 
#slider1:checked ~ #active label:nth-child(1), 
#slider2:checked ~ #active label:nth-child(2), 
#slider3:checked ~ #active label:nth-child(3){ 
background: #333; 
} 
#slider1:checked ~ #controls label:nth-child(1), 
#slider2:checked ~ #controls label:nth-child(2), 
#slider3:checked ~ #controls label:nth-child(3){ 
display: block; 
float: left; 
background: url(../images/prev.png) no-repeat; 
margin-left: -70px; 
} 
#slider1:checked ~ #controls label:nth-child(1), 
#slider2:checked ~ #controls label:nth-child(2), 
#slider3:checked ~ #controls label:nth-child(3){ 
display: block; 
float: right; 
background: url(images/next.png) no-repeat; 
margin-right: -70px; 
} 
#slider1:checked ~ #sliders article:nth-child(1) .info, 
#slider2:checked ~ #sliders article:nth-child(2) .info, 
#slider3:checked ~ #sliders article:nth-child(3) .info{ 
opacity: 1; 
transition: all 0.6s ease-out 0.7s; 
-webkit-transition: all 0.6s ease-out 0.7s; 
} 
#slider1:checked ~ #sliders .inner{ 
margin-left: 0; 
} 
#slider2:checked ~ #sliders .inner{ 
margin-left: -100%; 
} 
#slider3:checked ~ #sliders .inner{ 
margin-left: -200%; 
} 
#slider4:checked ~ #sliders .inner{ 
margin-left: -300%; 
} 
#slider5:checked ~ #sliders .inner{ 
margin-left: -400%; 
} 


p{ word-wrap:break-word; word-break:normal; }